<!DOCTYPE html>
<html>

<head>
  <title>Welcome To Cross Border Payment System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body,
    html {
      height: 100%;
      width: 100%;
      background-color: white;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 55%;
    }

    .logo {
      max-width: 5rem;
      max-height: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5em;
    }

    .logo1 {
      max-width: 400px;
      max-height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3em;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .btn-group {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    .btn-space {
      margin: 10px;
      border-radius: 10px !important;
    }

    .title {
      color: rgb(255, 255, 255);
      font-weight: bold;
      padding-top: 2rem;
      text-align: center;
      padding-bottom: 3em;
      font-size: 50px;
    }

    .banner{
      background-color: rgba(0, 105, 217,1);
      display: flex;
      width: 40%;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-direction: column;
    }

  </style>
</head>

<body style="display: flex; justify-content: center; flex-direction: row;">

  <div class="banner">
    <img src="https://i.imgur.com/p6kwsqk.png" alt="Cross Border Payments" style="max-width: 70%; max-height: 60%;">
    <span class="title">HyperBank</span>  
  </div>

  <div class="container">

    <div class="content">
        
        <div class="title" style=" color: black; padding: 10px;">Welcome to HyperBank</div>
        <p style=" font-size: 20px; text-align: center;"> An innovative platform that seamlessly integrates security, transparency, and efficiency, offering a revolutionary approach to banking services
        </p>

        <div class="btn-group">
            <a href="/createBank" class="btn btn-outline-dark btn-lg btn-space">Continue as a Bank</a>
            <a href="/signup" class="btn btn-outline-dark btn-lg btn-space">Continue as a Customer</a>
        </div>
    </div>

  </div>
  </div>
</body>

</html>